div {
    background-color: red;
    color: white;
    font-size: 40px;
    text-align: center;
}
p {
    background-color: green;
    color: white;
    font-size: 20px;
}
button {
    background-color: orange;
    font-weight: bold;
    border-color: transparent;    
    width: 120px;
    height: 30px;
    font-size: 15px;
}
